:root {
  --vp-c-brand-1: #7c3aed;
  --vp-c-brand-2: #8b5cf6;
  --vp-c-brand-3: #a78bfa;
  --vp-c-brand-soft: rgba(124, 58, 237, 0.14);
}

.dark {
  --vp-c-brand-1: #a78bfa;
  --vp-c-brand-2: #8b5cf6;
  --vp-c-brand-3: #7c3aed;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #7c3aed 30%, #06b6d4);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #7c3aed 50%, #06b6d4 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
